@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/Homepagestyle.css" />
</head>

<body>
    <div class="container text-center maintitle">
        <h1>Nu in de bioscoop</h1>
        <div class="row movies">
            <div class="col-md-3 movie">
                <a asp-area="" asp-controller="Movie" asp-action="Movie_1917">
                    <img src="~/images/Homepage/Movies/1917/1917_cover.jpg" />
                </a>
            </div>
            <div class="col-md-3 movie">
                <a asp-area="" asp-controller="Movie" asp-action="Avengers_Endgame">
                    <img src="~/images/Homepage/Avengers_Endgame.jpg" />
                </a>
            </div>
            <div class="col-md-3 movie">
                <a asp-area="" asp-controller="Movie" asp-action="Thor_Ragnarok">
                    <img src="~/images/Homepage/Thor_ragnorok.jpg" />
                </a>
            </div>
            <div class="col-md-3 movie">
                <a asp-area="" asp-controller="Movie" asp-action="Spiderman_Far_From_Home">
                    <img src="~/images/Homepage/Spiderman_farm_from_home.jpg" />
                </a>
            </div>
        </div>
    </div>
</body>
</html>