@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/Homepagestyle.css" />
</head>

<body>
    <div class="container text-center maintitle">
        <h1>Nu in de bioscoop</h1>
        <div class="row movies">
            <div class="col-md-3 movie"><img src="~/images/Homepage/Avengers_age_of_ultron.jpg" /></div>
            <div class="col-md-3 movie"><img src="~/images/Homepage/Avengers_infinity_war.jpg" /></div>
            <div class="col-md-3 movie"><img src="~/images/Homepage/Captain_America_civil_war.jpg" /></div>
            <div class="col-md-3 movie"><img src="~/images/Homepage/Spiderman_farm_from_home.jpg" /></div>
        </div>
    </div>
</body>
</html>