@model IEnumerable<Cinemaat_layers.VIEW.Models.MovieViewModel>

@{
    ViewBag.Title = "1917";
    Layout = "_Layout";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/1917style.css" />
</head>

<body>
    <div class="container movie-details">
        <div class="row">
            <div class="col-md-6 left-box">


                @{
                    
                string movieName;
                foreach (var item in Model)
                {
                    if (item.MovieName == "1917")
                    {
                        movieName = item.MovieName;
                            <h1>@movieName</h1>
                            break;
                        }
                        else
                        {                            
                            continue;
                            <h1>Error: Could not load Movie Title</h1>
                            
                        }
                    }
                }

                @{
                    string movieDescription;
                    foreach (var item in Model)
                    {
                        if (item.MovieName == "1917")
                        {
                            movieDescription = item.Description;
                            <p>@movieDescription</p>
                            break;
                        }
                        else
                        {
                            continue;
                            <p>Error: Could not load Movie Description</p>
                        }
                    }

                    @*int count2 = 0;
                    foreach (var item in Model)
                    {
                        count2 += 1;
                        if (count2 == 2)
                        {
                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                            count2 = 0;
                            break;
                        }

                    }*@
                }
                


                <p>Cast: </p>
                <div class="casting">
                    <img src="~/images/Homepage/Movies/1917/George_Mac_Kay.jpg" title="Scarlett Johansson">
                    <img src="~/images/Homepage/Movies/1917/Dean_Charles.jpg" title="Robert Downey Jr.">
                    <img src="~/images/Homepage/Movies/1917/Richard_Madden.jpg" title="Chris Hamsworth">
                    <img src="~/images/Homepage/Movies/1917/Benedict_Cumberbatch.jpg" title="Chris Pratt">
                    <img src="~/images/Homepage/Movies/1917/Colin_Firth.jpg" title="Tom Holland">
                </div>
                <a href="#"><i class=""></i>Selecteer film</a>
                <a href="#" class="download-btn"><i class=""></i>Voeg aan favorieten toe</a>

            </div>
            <div class="col-md-6 text-center">
                <img src="~/images/Homepage/Movies/1917/1917_cover.jpg" class="movie-img">
            </div>
        </div>
    </div>
    <div class="container series">
        <h3>Bekijk ook</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-6"><img src="~/images/Homepage/Thor_ragnorok.jpg"></div>
                    <div class="col-6"><img src="~/images/Homepage/Avengers_age_of_ultron.jpg"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-6"><img src="~/images/Homepage/Avengers_infinity_war.jpg"></div>
                    <div class="col-6"><img src="~/images/Homepage/Captain_America_civil_war.jpg"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-6"> <img src="~/images/Homepage/Guardians_of_the_galaxy_Volume_2.png"></div>
                    <div class="col-6"> <img src="~/images/Homepage/Spiderman_farm_from_home.jpg"></div>
                </div>
            </div>
        </div>
    </div>
</body>