@model Cinemaat_layers.VIEW.Models.ReviewViewModel

@{
    ViewData["Title"] = "WriteReview";
}

<h1>WriteReview</h1>

<h4>ReviewViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="WriteReview">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="ReviewId" class="control-label"></label>
                <input asp-for="ReviewId" class="form-control" />
                <span asp-validation-for="ReviewId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <input asp-for="Review" class="form-control" />
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieId" class="control-label"></label>
                <input asp-for="MovieId" class="form-control" />
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
