@model Cinemaat_layers.VIEW.Models.FavouriteViewModel

@{
    var Email = new Byte[20];
    bool nameOK = Context.Session.TryGetValue("Email", out Email);
}
@{
    if (nameOK)
    {
        <h1 class="text-center text-white">Aan favorieten toevoegen:</h1>
        <br />
        <h1 class="text-white text-center">@Html.DisplayFor(modelItem => modelItem.MovieName)</h1>
        <br>
        <h3 class="text-white text-center">Weet u zeker dat u deze film wilt toevoegen aan favorieten?</h3>

        <div class="container">
            <div class="row">
                <div class="col text-center text-white">
                    <form method="post">
                        <button type="submit" asp-controller="Favourite" asp-action="Create">Voeg toe</button>
                        <input type="hidden" asp-for="MovieId" />
                        <input type="hidden" asp-for="UserId" />
                        <input type="hidden" asp-for="MovieName" />
                    </form>
                    <form method="post">
                        <button type="submit" asp-controller="Home" asp-action="Index">Annuleren</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col text-center text-white">
                    <div class="text-left">

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

            </div>

        </div>


    }
    else
    {
        <h1 class="text-center text-white">Aan favorieten toevoegen:</h1>
        <br />
        <h1 class="text-white text-center">@Html.DisplayFor(modelItem => modelItem.MovieName)</h1>
        <br>
        <h3 class="text-white text-center">Weet u zeker dat u deze film wilt toevoegen aan favorieten?</h3>

        <div class="container">
            <div class="row">
                <div class="col text-center text-white">
                    <form method="post">
                        <button type="submit" asp-controller="Login" asp-action="Index">Voeg toe</button>
                        <input type="hidden" asp-for="MovieId" />
                        <input type="hidden" asp-for="UserId" />
                        <input type="hidden" asp-for="MovieName" />
                    </form>
                    <form method="post">
                        <button type="submit" asp-controller="Home" asp-action="Index">Annuleren</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col text-center text-white">
                    <div class="text-left">

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

            </div>

        </div>
    }
}

<head>
    <link rel="stylesheet" href="~/css/Homepagestyle.css" />
</head>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
