@model Cinemaat_layers.VIEW.Models.OrderViewModel

@{
    ViewData["Title"] = "Order";
}

<head>
    <title>Shopping Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Order/OrderStyle.css">
</head>

<body>
    <h1 class="text-center text-white">Mijn Bestelling</h1>
    <div class="container movie-details">
        <div class="row">
            <div class="col text-right">
                <img src="~/images/Homepage/Avengers_Endgame.jpg" class="movie-img">
            </div>
            <div class="col text-center">
                <div class="text-left text-white">
                    <h1>@Html.DisplayFor(modelItem => modelItem.MovieName)</h1>
                    <input type="hidden" asp-for="MovieName" />
                </div>
                <div class="text-left text-white">
                    <h2>Wanneer</h2>
                    <p>@Html.DisplayFor(modelItem => modelItem.Time)</p>
                    <input type="hidden" asp-for="Time" />
                </div>
                <div class="text-left text-white">
                    <h2>Filmzaal</h2>
                    <p>Zaal @Html.DisplayFor(modelItem => modelItem.MovieHallId)</p>
                    <input type="hidden" asp-for="MovieHallId" />
                </div>
                <div class="text-left text-white">
                    <h2>Ticket Prijs</h2>
                    <p>€@Html.DisplayFor(modelItem => modelItem.Price)</p>
                    <input type="hidden" asp-for="Price" />
                </div>
                <div class="text-left text-white">
                    <h2>Aantal tickets</h2>
                    <input asp-for="Quantity" class="form-control"/>
                </div>
                <br />
                @{
                    var Email = new Byte[20];
                    bool nameOK = Context.Session.TryGetValue("Email", out Email);
                }
                @{
                    if (nameOK)
                    {
                        string EmailString = System.Text.Encoding.UTF8.GetString(Email);
                        <div class="text-left">
                            <form method="post">
                                <button type="submit" asp-controller="Order" asp-action="CreateOrder">Betalen</button>
                                <input type="hidden" asp-for="MovieId" />
                                <input type="hidden" asp-for="UserId" />
                                <input type="hidden" asp-for="SeatId" />
                                <input type="hidden" asp-for="MovieHallId" />
                                <input type="hidden" asp-for="MovieName" />
                                <input type="hidden" asp-for="Price" />
                                <input type="hidden" asp-for="TotalPrice" />
                                <input type="hidden" asp-for="AgendaId" />
                                <input type="hidden" asp-for="Time" />
                                <input type="hidden" asp-for="Quantity" />
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="text-left">
                            <a class="pay-btn" asp-area="" asp-controller="Login" asp-action="Index">Betalen</a>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</body>

